<app-header></app-header>
<section *ngIf="users$ | async as users">
  <div class="head">
    <div>
      <div class="addTask" *ngIf="currentUserRole === 'Admin'" (click)="showAddTaskForm()">
        <svg>
          <use href="#plus"></use>
        </svg>
        <span>Add task</span>
      </div>
    </div>
  </div>
  <div>
    <div class="tab-content">
      <div class="tasks__container" *ngIf="tasks$ | async as tasks">
        @for(task of tasks; track task){
        <app-task-card
          [task]="task"
          [users]="users"
          (editTaskEvent)="editTask($event)"
          (deleteTask)="deleteTask(task.id)"
          [currentUserRole]="currentUserRole">
        </app-task-card>
        }@empty{
        <p>No Task</p>
        }
      </div>
    </div>
  </div>

  <app-user-form *ngIf="showAddUserForm$ | async "></app-user-form>
  <app-add-task-form *ngIf="showAddTaskForm$ | async "></app-add-task-form>
  <app-edit-task-form *ngIf="showEditTaskForm$ | async" [task]="selectedTaskForEdit"></app-edit-task-form>
</section>
