@use 'common' as *;

section {
  min-height: calc(100vh - 90px);
  background: #f9fafb;
  padding: 2rem 1rem;

  .head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  }

  .tab-content {
    .tasks__container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 0;
    }

    p {
      @include textStyle(16px, 24px, #6b7280, 400);
      text-align: center;
      margin-top: 3rem;
    }
  }
}

@include DesktopScreen {
  :host {
    section {
      padding: 2rem 4rem;
    }
  }
}
